* {
  margin: 0.5em;
  padding: 5px;
  box-sizing: border-box;
}
.heads{
    display: flex;
    justify-content: center;
    font-size: 2rem;

}

body {
  display: grid;
  background-color: rgb(59, 57, 57);
  color: white;
  font-family: sans-serif;
}
.timeline-grid {
  padding: 5%;
  margin: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 10% 1fr;
}


.line {
  width: 10px;
  height: 100%;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 6;
  justify-self: center;
  background-color: antiquewhite;
  box-shadow:  10px 10px 8px #9696964d,
             -10px -10px 20px #000000;
}
.timeline-item {
  margin: 1em;
  padding: 20px;
  border-radius: 10px;
  background: #625b5b;
  box-shadow:  10px 10px 8px #9696964d,
             -10px -10px 20px #000000;
  }



.item-1 {
  
  justify-content: center;
  grid-row: 1;
  grid-column: 1;
}
.item-2 {
  
  /* margin: 1;
  padding: 2; */
  /* justify-content: center;
  align-items: center; */
  grid-column: 3;   
  grid-row: 2;
}

.item-3 {
  margin: 1;
  padding: 2;
  /* justify-content: center;
  align-items: center; */
  grid-column: 1;
  grid-row: 4;
}

.item-4 {
  
  grid-column: 3;
  grid-row: 5;
}

.timeline-item:hover {
  background-color: #3d5d5b;

}
  


@media screen and (max-width: 800px) {
  .timeline-grid {
    grid-template-columns: 5% 1fr;
    
  }

  .line {
    grid-column-start: 1;
    
  }

  .timeline-item {
    grid-column: 2;

  }
  
}